* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(227, 244, 244, 0.745);

    font-family: sans-serif;
}

/* regolazioni */

.container-logo {
    background-color: white;
    width: 100%;
    height: 70px;
}




.conteiner {


    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(227, 244, 244, 0.745);
    margin-top: 30px;
    margin-bottom: 50px;

}



.add {
    padding: 10px 40px;
    background-color: white;
    height: 40px;




}



.subtitle {
    padding: 20px 40px;
}


.cont-task {
    border: lightgrey solid 1px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-color: rgba(0, 187, 255, 0.723);





}


.cont-section {
    border: lightgrey solid 1px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    



}




.to-do {
    background-color: white;
    width: 100%;
    margin-top: 2px;


}

/* fine regolazioni  */




/* regole lista  */
.lista {

    padding: 5px 0;
}


ul {

    list-style: none;
}

li {
    margin-top: 10px;
}

/* fine regole lista  */




.tag {
    display: inline-block;
    border-radius: 30px;
    color: white;
    padding: 5px 20px;
}

.editorial {
    background-color: rgb(72, 172, 234);
}

.check {
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1px solid rgb(72, 172, 234);
    border-radius: 50%;
    color: rgb(72, 172, 234);
    display: inline-block;
    text-align: center;
    font-size: 12px;
}





.cross {
    font-size: 19px;
    width: 20px;
    height: 20px;
    line-height: 19px;
    border: 1px solid rgb(242, 67, 67);
    border-radius: 50%;
    color: rgb(242, 67, 67);
    display: inline-block;
    text-align: center;
}

/* colori */
.recruiting {
    background-color: lightskyblue;
}

.gold {
    background-color: rgb(255, 136, 0);

}

.web {
    background-color: rgb(201, 120, 201);
}

.sales {
    background-color: rgba(156, 230, 38, 0.91);
}


.purple {
    background-color: rgba(201, 26, 198, 0.864);
}