* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 221, 219);
    font-family: sans-serif;
}


.container-logo {
    background-color: white;
    width: 100%;
    height: 70px;
}


.conteiner {

    height: 1000px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;

    background-color: rgb(215, 221, 219);
    margin-top: 30px;
}


.add {
    padding: 10px;
    padding-bottom: 25px;
    background-color: white;
    height: 30px;


}


.cont-task {
    border: lightgrey solid 1px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-color: rgba(0, 187, 255, 0.723);



}


.cont-section {
    border: lightgrey solid 1px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;


}




.to-do {
    background-color: white;
    width: 100%;
    margin-top: 3px;

}






ul {

    list-style: none;
}



.tag {
    display: inline-block;
    border-radius: 30px;
    color: white;
    padding: 5px 20px;
}

.editorial {
    background-color: rgb(72, 172, 234);
}

.check {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid rgb(72, 172, 234);
    border-radius: 50%;
    color: rgb(72, 172, 234);
    display: inline-block;
    text-align: center;
}

li {
    margin-top: 10px;
}

.purple {
    background-color: rgba(201, 26, 198, 0.864);
}


.cross {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid rgb(242, 67, 67);
    border-radius: 50%;
    color: rgb(242, 67, 67);
    display: inline-block;
    text-align: center;
}


.recruiting {
    background-color: lightskyblue;
}

.web {
    background-color: rgb(201, 120, 201);
}

.sales {
    background-color: rgba(156, 230, 38, 0.91);
}